@using Filminurk.Core.Domain
@using Filminurk.Models.Movies

@model Filminurk.Models.Movies.MoviesCreateUpdateViewModel

@if(Model.ID.HasValue)
{
    <h1>Muuda Film</h1>
}
else
{
    <h1>Lisa Film</h1>
}


<div>
    <form method="post" enctype="multipart/form-data">
        <input asp-for="ID" type="hidden"/>
        <input asp-for="EntryCreatedAt" type="hidden"/>
        <input asp-for="EntryModifyAt" type="hidden"/>

        <div class="form-group row">
            <label asp-for="Title" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input asp-for="Title" class="form-control"/>
            </div>
        </div>
    </form>
</div>